<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Nunjucks</title>
</head>

<body>
   <main>
   <h2>Привет, {{name}}!</h2>
   <h1>Изучение Nunjucks {{class}}</h1>
   {% if teacher %}
   <p><strong>Приступаем!</strong></p>
   {% else %}
   <p>Всегда надо знать <strong><em>больше</em>!</strong></p>
   {% endif %}
   <main>
</body>

</html>